# SQL

#### Описание проекта.

В самостоятельном проекте вам нужно проанализировать данные о фондах и инвестициях и написать запросы к базе.

*В данных, которые использованы в проекте, упоминаются сервисы и компании, запрещённые в РФ.

<div class="alert alert-info">
<b>Задание:</b>
<br> 1. Посчитайте, сколько компаний закрылось.
</div>

SELECT COUNT(status)  
FROM company  
WHERE status = 'closed';

<div class="alert alert-info">
<b>Задание:</b>
<br> 2. Отобразите количество привлечённых средств для новостных компаний США. Используйте данные из таблицы company. Отсортируйте таблицу по убыванию значений в поле funding_total .
</div>

SELECT funding_total  
FROM company  
WHERE category_code = 'news' AND country_code = 'USA'  
ORDER BY funding_total DESC;

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

SELECT SUM(price_amount)  
FROM acquisition  
WHERE (term_code = 'cash') AND (acquired_at BETWEEN '2011-01-01' AND '2013-12-31');

<div class="alert alert-info">
<b>Задание:</b>
<br> 4. Отобразите имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются на 'Silver'.
</div>

SELECT first_name,  
       last_name,  
       twitter_username  
FROM people  
WHERE twitter_username LIKE 'Silver%';

<div class="alert alert-info">
<b>Задание:</b>
<br> 5. Выведите на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку 'money', а фамилия начинается на 'K'.
</div>

SELECT (*)    
FROM people  
WHERE (twitter_username LIKE '%money%') AND (last_name LIKE 'K%');

<div class="alert alert-info">
<b>Задание:</b>
<br> 6. Для каждой страны отобразите общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране. Страну, в которой зарегистрирована компания, можно определить по коду страны. Отсортируйте данные по убыванию суммы.
</div>

SELECT country_code,  
       SUM(funding_total)  
FROM company  
GROUP BY country_code 
ORDER BY SUM(funding_total) DESC;

<div class="alert alert-info">
<b>Задание:</b>
<br> 7. Составьте таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.
Оставьте в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.
</div>

SELECT funded_at,  
       MIN(raised_amount),  
       MAX(raised_amount)  
FROM funding_round  
GROUP BY funded_at  
HAVING MIN(raised_amount) != 0 
AND MIN(raised_amount) != MAX(raised_amount);

<div class="alert alert-info">
<b>Задание:</b>
<br> 8. Создайте поле с категориями:
    
Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию high_activity.
    
Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию middle_activity.
    
Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию low_activity.
    
Отобразите все поля таблицы fund и новое поле с категориями.
</div>

SELECT *,
      CASE 
      WHEN invested_companies>=100 THEN 'high_activity'
      WHEN invested_companies BETWEEN 20 AND 99 THEN 'middle_activity'
      WHEN invested_companies <20 THEN 'low_activity'
      END category
FROM fund;

<div class="alert alert-info">
<b>Задание:</b>
<br> 9. Для каждой из категорий, назначенных в предыдущем задании, посчитайте округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие. Выведите на экран категории и среднее число инвестиционных раундов. Отсортируйте таблицу по возрастанию среднего.
</div>

SELECT ROUND(AVG(investment_rounds)) AS investment_rounds,
       CASE
       WHEN invested_companies>=100 THEN 'high_activity'
       WHEN invested_companies>=20 THEN 'middle_activity'
       ELSE 'low_activity'
       END AS activity
FROM fund
GROUP BY activity
ORDER BY investment_rounds ASC;

<div class="alert alert-info">
<b>Задание:</b>
<br> 10. Проанализируйте, в каких странах находятся фонды, которые чаще всего инвестируют в стартапы.
Для каждой страны посчитайте минимальное, максимальное и среднее число компаний, в которые инвестировали фонды этой страны, основанные с 2010 по 2012 год включительно. Исключите страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю. Выгрузите десять самых активных стран-инвесторов.
Отсортируйте таблицу по среднему количеству компаний от большего к меньшему, а затем по коду страны в лексикографическом порядке.
</div>

SELECT country_code,
       MIN(invested_companies),
       MAX(invested_companies),
       AVG(invested_companies)
FROM fund
WHERE founded_at BETWEEN '2010-01-01' AND '2012-12-31'
GROUP BY country_code
HAVING MIN(invested_companies) !=0
ORDER BY AVG(invested_companies) DESC, country_code ASC
LIMIT 10;

<div class="alert alert-info">
<b>Задание:</b>
<br> 11. Отобразите имя и фамилию всех сотрудников стартапов. Добавьте поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна.
</div>

SELECT p.first_name,
       p.last_name,
       e.instituition
FROM people AS p
LEFT JOIN education AS e ON p.id=e.person_id

<div class="alert alert-info">
<b>Задание:</b>
<br> 12. Для каждой компании найдите количество учебных заведений, которые окончили её сотрудники. Выведите название компании и число уникальных названий учебных заведений. Составьте топ-5 компаний по количеству университетов.
</div>

SELECT c.name,
       COUNT(DISTINCT e.instituition)
FROM company AS c
INNER JOIN people AS p ON c.id=p.company_id
LEFT JOIN education AS e ON e.person_id=p.id
GROUP BY c.name
ORDER BY COUNT(DISTINCT e.instituition) DESC
LIMIT 5;

<div class="alert alert-info">
<b>Задание:</b>
<br> 13. Составьте список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.
</div>

SELECT DISTINCT c.name
FROM company AS c
LEFT OUTER JOIN funding_round AS fr ON fr.company_id=c.id
WHERE status = 'closed' AND is_first_round=1 AND is_last_round=1

<div class="alert alert-info">
<b>Задание:</b>
<br> 14. Составьте список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем задании.
</div>

SELECT DISTINCT p.id
FROM company AS c
LEFT OUTER JOIN funding_round AS fr ON fr.company_id=c.id
LEFT OUTER JOIN people AS p ON p.company_id=c.id
WHERE status = 'closed' AND is_first_round=1 AND is_last_round=1 AND p.id IS NOT NULL

<div class="alert alert-info">
<b>Задание:</b>
<br> 15. Составьте таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник.
</div>

SELECT DISTINCT p.id,
       e.instituition
FROM company AS c
LEFT OUTER JOIN funding_round AS fr ON fr.company_id=c.id
LEFT OUTER JOIN people AS p ON p.company_id=c.id
LEFT OUTER JOIN education AS e ON e.person_id=p.id
WHERE status = 'closed' AND is_first_round=1 AND is_last_round=1 AND p.id IS NOT NULL AND e.instituition IS NOT NULL;

<div class="alert alert-info">
<b>Задание:</b>
<br> 16. Посчитайте количество учебных заведений для каждого сотрудника из предыдущего задания. При подсчёте учитывайте, что некоторые сотрудники могли окончить одно и то же заведение дважды.
</div>

SELECT p.id,
       COUNT(e.instituition)
FROM education AS e
LEFT OUTER JOIN people AS p ON e.person_id=p.id
WHERE company_id IN
(SELECT c.id
FROM company AS c
LEFT OUTER JOIN funding_round as fr ON fr.company_id=c.id
WHERE c.status = 'closed' AND is_first_round=1 AND is_last_round = 1) 
GROUP BY p.id;

<div class="alert alert-info">
<b>Задание:</b>
<br> 17. Дополните предыдущий запрос и выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники разных компаний. Нужно вывести только одну запись, группировка здесь не понадобится.
</div>

WITH count_institute AS(
SELECT p.id,
COUNT(e.instituition)
FROM people AS p
INNER JOIN education AS e 
ON p.id=e.person_id
WHERE p.company_id IN 
 
(SELECT id
FROM company
WHERE status = 'closed'
AND id IN (SELECT company_id
FROM funding_round
WHERE is_first_round =1 and is_last_round =1)
)
GROUP BY p.id)
---
SELECT AVG(count)
FROM (SELECT count FROM count_institute) AS avg_count;

<div class="alert alert-info">
<b>Задание:</b>
<br> 18. Напишите похожий запрос: выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники Facebook*.
*(сервис, запрещённый на территории РФ)
</div>

WITH count_facebook AS(
SELECT p.id,
COUNT(e.instituition)
FROM people AS p
INNER JOIN education AS e 
ON p.id=e.person_id
WHERE p.company_id IN 
 
(SELECT id
FROM company
WHERE name = 'Facebook')
GROUP BY p.id)
---
SELECT AVG(count)
FROM (SELECT count FROM count_facebook) AS avg_count;

<div class="alert alert-info">
<b>Задание:</b>
<br> 19. Составьте таблицу из полей:
name_of_fund — название фонда;
name_of_company — название компании;
amount — сумма инвестиций, которую привлекла компания в раунде.
В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.
</div>

SELECT f.name AS name_of_fund,
       c.name AS name_of_company,
       fr.raised_amount AS amount
FROM investment AS i
LEFT OUTER JOIN company AS c ON c.id=i.company_id
LEFT OUTER JOIN fund AS f ON f.id=i.fund_id
LEFT OUTER JOIN funding_round AS fr ON fr.id=i.funding_round_id
WHERE c.milestones > 6 AND funded_at BETWEEN '2012-01-01' AND '2013-12-31'

<div class="alert alert-info">
<b>Задание:</b>
<br> 20.Выгрузите таблицу, в которой будут такие поля:
    
название компании-покупателя;  
сумма сделки;  
название компании, которую купили;  
сумма инвестиций, вложенных в купленную компанию;  
доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.  
Не учитывайте те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключите такую компанию из таблицы.  
Отсортируйте таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в лексикографическом порядке. 
Ограничьте таблицу первыми десятью записями.
</div>

WITH 
purchase AS (
              SELECT a.id,
                     a.price_amount,
                     c.name as pokypatel,
                     c.funding_total          
              FROM company c 
              FULL JOIN acquisition a ON c.id=a.acquiring_company_id
              WHERE a.price_amount <> 0 ),
 
sale AS (
            SELECT a.id,
             a.price_amount,
             c.name as kupili,
             c.funding_total           
             FROM company c 
             FULL JOIN acquisition a ON c.id=a.acquired_company_id
             WHERE c.funding_total <> 0 )
 
SELECT purchase.pokypatel,
       purchase.price_amount,
       sale.kupili,
       sale.funding_total,
       ROUND (purchase.price_amount/sale.funding_total) as dola
FROM purchase 
INNER JOIN sale ON purchase.id = sale.id 
ORDER BY purchase.price_amount DESC, sale.kupili
LIMIT 10;

<div class="alert alert-info">
<b>Задание:</b>
<br> 21. Выгрузите таблицу, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год включительно. Проверьте, что сумма инвестиций не равна нулю. Выведите также номер месяца, в котором проходил раунд финансирования.
</div>

SELECT social_companies.NAME,
       EXTRACT(MONTH FROM CAST(fr.funded_at AS TIMESTAMP))
FROM
    (SELECT NAME,
            id
     FROM company
     WHERE category_code = 'social'
    ) social_companies
LEFT JOIN funding_round AS fr ON social_companies.id = fr.company_id
WHERE EXTRACT(YEAR FROM CAST(fr.funded_at AS TIMESTAMP)) BETWEEN 2010 AND 2013 AND
      fr.raised_amount != 0

<div class="alert alert-info">
<b>Задание:</b>
<br> 22. Отберите данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды. 
    
Сгруппируйте данные по номеру месяца и получите таблицу, в которой будут поля:
номер месяца, в котором проходили раунды;  
количество уникальных названий фондов из США, которые инвестировали в этом месяце;  
количество компаний, купленных за этот месяц;  
общая сумма сделок по покупкам в этом месяце.
</div>

WITH fund_count AS
(
    SELECT EXTRACT(Month FROM CAST(fr.funded_at AS date)) AS month_number,
    COUNT(DISTINCT f.name) AS fund_count_USA
    FROM funding_round AS fr
    LEFT JOIN investment AS i ON fr.id = i.funding_round_id
    LEFT JOIN fund AS f ON f.id = i.fund_id
    WHERE f.country_code = 'USA'
    AND EXTRACT(YEAR FROM CAST(fr.funded_at AS date)) BETWEEN 2010 AND 2013
    GROUP BY  EXTRACT(MONTH FROM CAST(fr.funded_at AS date))
),
comp_count AS
(SELECT EXTRACT(Month FROM CAST(acquired_at AS date)) AS month_number,
    COUNT(id) AS company_count,
 SUM (price_amount) AS total_amount
    FROM acquisition
    WHERE EXTRACT(YEAR FROM CAST(acquired_at AS date)) BETWEEN 2010 AND 2013
    GROUP BY EXTRACT(MONTH FROM CAST(acquired_at AS date))
)
 
SELECT fund_count.month_number,
       fund_count_USA,
       company_count, 
       total_amount
FROM fund_count 
LEFT JOIN comp_count 
ON fund_count.month_number=comp_count.month_number;

<div class="alert alert-info">
<b>Задание:</b>
<br> 23. Составьте сводную таблицу и выведите среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах. Данные за каждый год должны быть в отдельном поле. Отсортируйте таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.
</div>

with
t_11 as (select distinct country_code,
avg(funding_total) as year_2011
from company
where
extract(year from cast(founded_at as
timestamp))=2011
group by country_code),
 
t_12 as (select distinct country_code,
avg(funding_total) as year_2012
from company
where
extract(year from cast(founded_at as
timestamp))=2012
group by country_code),
 
t_13 as (select distinct country_code,
avg(funding_total) as year_2013
from company
where
extract(year from cast(founded_at as
timestamp))=2013
group by country_code)
 
select t_11.country_code,
t_11.year_2011,
t_12.year_2012,
t_13.year_2013
 
from t_11
 
inner join t_12 on
t_11.country_code= t_12.country_code
inner join t_13 on
t_12.country_code= t_13.country_code
 
order by t_11.year_2011 desc;