# SQL

#### Описание проекта.

В самостоятельном проекте вам нужно проанализировать данные о фондах и инвестициях и написать запросы к базе.

*В данных, которые использованы в проекте, упоминаются сервисы и компании, запрещённые в РФ.

<div class="alert alert-info">
<b>Задание:</b>
<br> 1. Посчитайте, сколько компаний закрылось.
</div>

SELECT COUNT(status)
FROM company
WHERE status = 'closed';

<div class="alert alert-info">
<b>Задание:</b>
<br> 2. Отобразите количество привлечённых средств для новостных компаний США. Используйте данные из таблицы company. Отсортируйте таблицу по убыванию значений в поле funding_total .
</div>

SELECT funding_total
FROM company
WHERE category_code = 'news' AND country_code = 'USA'
ORDER BY funding_total DESC;

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

SELECT SUM(price_amount)
FROM acquisition
WHERE (term_code = 'cash') AND (acquired_at BETWEEN '2011-01-01' AND '2013-12-31');

<div class="alert alert-info">
<b>Задание:</b>
<br> 4. Отобразите имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются на 'Silver'.
</div>

SELECT first_name,
       last_name,
       twitter_username
FROM people
WHERE twitter_username LIKE 'Silver%';

<div class="alert alert-info">
<b>Задание:</b>
<br> 5. Выведите на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку 'money', а фамилия начинается на 'K'.
</div>

SELECT *
FROM people
WHERE (twitter_username LIKE '%money%') AND (last_name LIKE 'K%');

<div class="alert alert-info">
<b>Задание:</b>
<br> 6. Для каждой страны отобразите общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране. Страну, в которой зарегистрирована компания, можно определить по коду страны. Отсортируйте данные по убыванию суммы.
</div>

SELECT country_code, 
       SUM(funding_total)
FROM company
GROUP BY country_code 
ORDER BY SUM(funding_total) DESC;

<div class="alert alert-info">
<b>Задание:</b>
<br> 7. Составьте таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.
Оставьте в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.
</div>

SELECT funded_at,
       MIN(raised_amount),
       MAX(raised_amount)
FROM funding_round
GROUP BY funded_at
HAVING MIN(raised_amount) != 0 
AND MIN(raised_amount) != MAX(raised_amount);

<div class="alert alert-info">
<b>Задание:</b>
<br> 8. Создайте поле с категориями:
    
Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию high_activity.
    
Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию middle_activity.
    
Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию low_activity.
    
Отобразите все поля таблицы fund и новое поле с категориями.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>

<div class="alert alert-info">
<b>Задание:</b>
<br> 3. Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.
</div>